*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

a{
    text-decoration: none;
    color: #000000;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}