html{
    font-size: 62.5%;
}

body{
    background-color: var(--background-body);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    max-width: 2000px;
    height: 110px;
    margin: 0 auto;
    background-color: var(--color00);
    box-shadow: 0px 7px 12px rgba(12, 12, 12, 0.226);
    border-radius: 0 0 5px 5px;
}

.cabecalho .logo a{
    display: flex;
    align-items: center;
    margin: 20px;
}

.cabecalho .logo a img{
    width: 64px;
    height: 64px;
    margin-right: 7px;
}

.cabecalho .logo h1{
    font-family: var(--font-titulo);
    color: var(--color05);
    transition: 0.2s ease-in-out;
    font-size: 3.8rem;
}

.cabecalho .logo:hover h1{
    color: var(--color03);
}

.cabecalho .menu{
    display: flex;
    margin: 20px;
}

.cabecalho .menu li{
    font-size: 2.1rem;
    margin: 0 10px 0 5px;
}

.cabecalho .menu li a{
    transition: 0.3s ease-in-out;
    padding: 10px;
    border-radius: 8px;
}

.cabecalho .menu .quero-adotar{
    background-color: var(--color01);  
    color: var(--color04);  
}

.cabecalho .menu li a:hover{
    color: var(--color03);
}




main{
    background-color: var(--color01);
    min-width: 320px;
    max-width: 1366px;
    margin: 0 auto;
    font-size: 1.6rem;
    box-shadow: 0px 3.3px 7px rgba(0, 0, 0, 0.185);
}

.home{
    background-image: linear-gradient(to right, var(--color-white), var(--color01));
    display: flex;
    position: relative;
    width: 100%;
    max-height: 794px;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 7px 12px rgba(12, 12, 12, 0.274);
}

.home h2{
    color: var(--color-white);
    font-size: 4.2rem;
    font-family: var(--font-destaque);
    text-shadow: rgba(0, 0, 0, 0.490) 2px 2px 5px;
    position: absolute;
    top: 39%;
}



.conheca{
    background-color: var(--color-white);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    width: 100%;
    min-height: 700px;
    background-image: linear-gradient(to top left, var(--color-white), var(--color01),var(--color-white));
}

.conheca h3{
    font-size: 4rem;
    margin-top: 50px;
    color: var(--color-white);
    font-family: var(--font-titulo);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
}

.conheca .adocao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0 120px 0;
}

.adocao .cachorro-adocao{
    position: relative;
    background-color: var(--color-white);
    width: 300px;
    height: 350px;
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
}

.adocao .cachorro-adocao img{
   display: block;
   margin: auto;
   width: 270px;
   height: 290px;
   transition: 0.3s ease-in-out;
}

.adocao .cachorro-adocao .descricao{
    display: none;
    position: absolute;
    font-size: 2.4rem;
    width: 260px;
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
}

.adocao .cachorro-adocao h3{
    font-family: var(--font-destaque);
    font-size: 2.8rem;
    margin-top: 10px;
    color: var(--color05);
}

.adocao .cachorro-adocao a:hover img{
    opacity: 0.4;
}

.adocao .cachorro-adocao a:hover .descricao{
    display: block;
    color: var(--color05);
}

.adocao .cachorro-adocao a:hover h3{
    color: var(--color03);
}

.conheca .veja-mais{
    position: absolute;
    font-size: 2.4rem;
    background-color: var(--color00);
    color: var(--color05);
    padding: 8px;
    width: 200px;
    border-radius: 10px;
    bottom: 4%;
    left: 5%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.062);
    transition: 0.3s ease-in-out;
}

.conheca .veja-mais:hover{
    color: var(--color04);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.315);
}



.sobre{
    position: relative;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 700px;
}

.sobre .decoracao-1{
    position: absolute;
    background: url(../image/decoracao-1.png) center center no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    bottom: -2%;
    right: 1%;
}

.sobre .decoracao-2{
    position: absolute;
    background: url(../image/decoracao-2.png) center center no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    top: 15%;
    left: 1%;
}

.sobre .decoracao-3{
    display: none;
    position: absolute;
    top: 2.9%;
    transform: translateX(88%);
    width: 120px;
    height: 120px;
    background:url(../image/decoracao-3.png) center center no-repeat;
    background-size: contain;
    z-index: 1;
}

.sobre .decoracao-4{
    display: none;
    position: absolute;
    background: url(../image/decoracao-4.png) center center no-repeat;
    background-size: contain;
    width: 250px;
    height: 250px;
    left: -7%;
    bottom: 1%;
    transform: rotate(14deg);
}

.sobre .decoracao-5{
    display: none;
    position: absolute;
    background: url(../image/decoracao-5.png) center center no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    bottom: -2%;
    left: 1%;
    z-index: 1;
}

.sobre h3{
    font-size: 3.9rem;
    margin-top: 50px ;
    position: absolute;
    top: 6.4%;
}

.sobre p{
    width:62%;
    font-size: 2.8rem;
    text-align: center;
    padding: 30px;
    margin: 170px 0 100px 0;
    border-radius: 4px;
}



.contato{
    position: relative;
    background: var(--color01) url(../image/background-footer.jpg) no-repeat center center ;
    background-size: cover;
    min-width: 320px;
    max-width: 1366px;
    min-height: 250px;
    margin: 0 auto;
    box-shadow: 0px 3.3px 7px rgba(0, 0, 0, 0.185);
}

.contato .menu-footer{
    position: absolute;
    display: flex;
    top: 25%;
    left: 30%;
    transform: translateX(-50%);
}

.contato .menu-footer a{
    margin: 20px;
    font-size: 2.5rem;
    color: var(--color-white);
}

.contato .menu-footer a:hover{
    text-decoration: underline;
}

.contato .social{
    position: absolute;
    top: 25%;
    right: 30%;
    transform: translateX(50%);
}

.contato .social a i{
    color: var(--color-white);
    font-size: 3rem;
    margin-left: 20px;
}

.contato .endereco{
    position: absolute;
    bottom: 25%;
    font-size: 2.2rem;
    color: var(--color-white);
    width: 100%;
    text-align: center;
}